.button-container {
    display: flex;
    gap: 20px;
}

.hero-button {
    margin-top: 20px;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #030e82;
    font-weight: bold;
    font-size: 20px;
}

.hero-button:first-child {
    background-color: #F49696;
}

.hero-button:last-child {
    background-color: #82EAAC;
}

@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
        align-items: center;
    }
}